# Dependencies
node_modules/
/node_modules
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js & Production
.next/
/out/
/build
dist/

# Environment Files (Crucial for Security)
.env*
.env
.env.local
.env.production
.env.development

# Prisma
/src/generated/prisma

# Logs & Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
logs/
*.log

# System & IDE
.DS_Store
.vscode/
.idea/
*.pem

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts